

#data
traffic_tracker/data/
license_plate_rec/data/

#ciktilar
license_plate_rec/img_crops/


# YOLO model dosyaları
*.pt




# txt sonuc dosyaları
*.txt


# debug ciktilari
license_plate_rec/debug_out/

#gpt
license_palte_rec/plate_select.py